# npm
node_modules
package-lock.json
*.log
*.gz

!logs/.gitkeep
logs/*
#*.mp3  disabled for versioning the test song
#aulas
.env
!build
build/*

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
